<ion-view title="Tegra Beer" class="pane" >
  <ion-content class="has-header has-footer" >
    <ion-list can-swipe="listCanSwipe">
      <ion-item ng-repeat="song in songs" class="item-thumbnail-left">
        <img ng-src="{{song.image}}">
        <h2 class="text-left">{{song.name}}</h2>
        <p>{{song.artist}}</p>
        <div class="text-right">
          <button side="right" class="button button-clear item-button-right button-dark" ng-click="addSong(song)">
            <i class="icon ion-plus-round"></i>
          </button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
